<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vad i helvete ska jag laga till middag?</title>
    <link href="hell.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <p class="top">DU KAN FÖR I HELVETE LAGA LITE</p>
    <p class="headline"><a href="<%= @recipe_link %>"><%= @recipe_title %></a></p>
    <p class="underline"><a href="<%=@hit_me_again%>">JAG GILLAR FÖR I HELVETE INTE DET DÄR</a></p>
    <p class="underline"><a href="<%=@i_dont_play_that_link%>"><%=@i_dont_play_that%></a></p>
  </body>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18681856-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
      </html>

